<div class="row">
  <div class="medium-6 columns" id="search">
    <h1>Products</h1>
    <p>This app is using Angular 4. and Angular animation. please enter your product name and description.</p>
    <p>Product is directly added to the DOM. unfortunately there is no database connection.</p>
     <form #form="ngForm" (ngSubmit)="addProduct(form.value)">
       <input type="text" placeholder="Product name" name="title" [(ngModel)]="title">
       <textarea name="description" placeholder="Product description.." [(ngModel)]="description" rows="3"></textarea>
       <button id="btn" type="submit">Add Product</button>
     </form>
  </div>
  <div class="medium-6 columns" id="search">
    <p id="results-label">{{ products.length}} Results</p>

    <ul id="products-list">
      <li [@productsAnim]="state" *ngFor="let product of products; let i = index">
        {{product.title}}
        <img src="assets/delete.svg" alt="delete" (click)="removeProduct(i)">
        <p>{{ product.description }}</p>
      </li>
    </ul>
  </div>
</div>